.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1.5em;
    padding: 0.3rem 1rem;
    transition: .5s ease;
}

.input-box label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s ease;
    left: 20px;
    font-size: 1em;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label {
    color: black;
    top: 0;
    background-color: rgb(163 163 163);
    padding: 0 6px;
}


.text_area {
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    padding: 10px;
}